*{
    padding: 0px;
    margin: 0px;
}

#wrapper{
    width: 900px;
    height: 970px;
    box-sizing: border-box;
    padding:5px 10px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #062133;
}

#header{
    width:890px;
    height: 70px;
    /* display: flex; */
    box-sizing: border-box;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 15px 18px 18px 18px;
    color:#c6ccd0;
    text-align: top;
}

.headcontent{
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
}

#name{
    width: 300px;
    height: 40px;
    font-size: 32px;
}

#consult{
    color:#198ed8;
}

#toplinks{
    width: 480px;
    height: 70px;
    margin-left: 60px;
    padding-top: 15px;
    /* margin-top: 10px; */
    box-sizing: border-box;
    /* border-style: solid; */
    /* vertical-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.link1{
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color:#c6ccd0;
}

#home{
    color:#198ed8;
}

#container{
    width:880px;
    height: 840px;
    box-sizing: border-box;
    display:block;
    /* border-style: solid; */
    background-color:white;
    padding: 17px;
}

#image{
    width:845px;
    height: 355px;
    background-image: url(consultingIMG/main_img.png);
    background-repeat: no-repeat:
}

#threetextbox{
    width:880px;
    height: 210px;
    margin-bottom: 45px;
    color:white;
    vertical-align: top;
}

.textbox{
    width: 270px;
    height: 220px;
    padding: 15px;
    display:inline-block;
    margin-top: 10px;
    vertical-align: top;
    box-sizing: border-box;
    background-color:#1468a7;
}

#box1{
    margin-right:15px;
}

#box3{
    margin-left: 15px;
}

.boxhead{
    width: 137px;
    height: 30px;
    box-sizing: border-box;
}

.boxheader{
    display: inline-block;
}

#icon{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 250px;
    background-size: 25px 25px;
}

.boxtitle{
    vertical-align: top;
    margin-top: 5px;
}

.describe{
    font-size: 12px;
    margin-top: 10px;
}

.link{
    width:125px;
    height: 35px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 23px;
    margin-top: 27px;
    border-radius: 3px;
    background: linear-gradient(180deg, rgba(92,181,238,1) 16%, rgba(26,147,221,1) 96%);
}

#thirdlink{
    margin-top: 39px;
}

#closing{
    width: 880px;
    height: 200px;
    box-sizing:border-box;
    margin-top: 20px;
}

#TheWorld{
    width: 560px;
    height: 180px;
    display: inline-block;
}

.closinghead{
    font-size: 18px;
    margin-bottom: 8px;
}

#buildimg{
    width: 270px;
    height: 140px;
    display: inline-block;
    vertical-align: top;
}

#goals{
    width: 270px;
    height: 180px;
    display: inline-block;
    margin-left: 10px;
}

.closetext{
    font-size: 12px;
    margin-bottom: 8px;
}

#lastline{
    margin-bottom: 22px;
}

#learn{
    font-size: 14px;
    text-decoration: none;
    color:#5d8bad;
}

#Testimony{
    width:260px;
    height:180px;
    display: inline-block;
    vertical-align: top;
}

#quote{
    width: 230px;
    height: 90px;
    margin-top: 10px;
    /* background-color:#daedff; */
    padding:24px;
    background-image: url(consultingIMG/Quotebox.png);
    background-size: 270px 140px;
    background-repeat: no-repeat;
    font-size: 13px;
}

#quoteauthor{
    margin-top: 10px;
    font-size: 10px;
}

#footer{
    width: 880px;
    height: 45px;
    box-sizing: border-box;
    margin-top:2px;
    padding: 8px 290px;
    background-color: #daedff;
}

#linkbot{
    width: 4000px;
    height: 44px;
    box-sizing: border-box;
    /* padding-bottom: 20px; */
}

.footerlink{
    text-decoration: none;
    color: #6391b5;
    font-size: 12px;
    margin: 0px 15px;
}

#homebot{
    color: #a1cdef;
}